################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/csi.asp.net.core.api/bin/
/.vs/csi.asp.net.core.api/v17/.suo
/csi.asp.net.core.api/bin/ 
/csi.asp.net.core.api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/csi.asp.net.core.api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.runtimeconfig.json
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.pdb
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.exe
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.dll
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.deps.json
/csi.asp.net.core.api/bin/Debug/net6.0/Azure.Identity.dll
/csi.asp.net.core.api/obj/Debug/net6.0/ref/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/refint/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/apphost.exe
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.assets.cache
/csi.asp.net.core.data/obj/Debug/net6.0/refint/csi.asp.net.core.data.dll
/csi.asp.net.core.data/obj/Debug/net6.0/ref/csi.asp.net.core.data.dll
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.pdb
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.dll
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.pdb
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.dll
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.pdb
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.csproj.AssemblyReference.cache
/.vs/csi.asp.net.core.api/DesignTimeBuild/.dtbcache.v2
/csi.asp.net.core.service/obj/Debug/net6.0
/csi.asp.net.core.service/obj
/csi.asp.net.core.api/obj/project.nuget.cache
/csi.asp.net.core.api/obj/project.assets.json
/csi.asp.net.core.api/obj/csi.asp.net.core.api.csproj.nuget.dgspec.json
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.model.pdb
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.model.dll
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.csproj.FileListAbsolute.txt
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.csproj.CoreCompileInputs.cache
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.csproj.CoreCompileInputs.cache
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.csproj.AssemblyReference.cache
/csi.asp.net.core.model/bin/Debug/net6.0/csi.asp.net.core.model.pdb
/csi.asp.net.core.model/bin/Debug/net6.0/csi.asp.net.core.model.dll
/csi.asp.net.core.model/obj/Debug/net6.0/refint/csi.asp.net.core.model.dll
/csi.asp.net.core.model/obj/Debug/net6.0/ref/csi.asp.net.core.model.dll
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.pdb
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.dll
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.service.pdb
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.service.dll
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.service.deps.json
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.model.pdb
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.model.dll
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.data.pdb
/csi.asp.net.core.service/bin/Debug/net6.0/csi.asp.net.core.data.dll
/csi.asp.net.core.api/bin/Debug/net6.0/System.Windows.Extensions.dll
/csi.asp.net.core.api/bin/Debug/net6.0/System.Security.Permissions.dll
/csi.asp.net.core.api/bin/Debug/net6.0/System.Drawing.Common.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/csi.asp.net.core.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/csi.asp.net.core.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/csi.asp.net.core.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.OpenApi.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Validators.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.UI.Views.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.UI.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.TokenCache.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.Certificateless.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Web.Certificate.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Azure.Security.KeyVault.Secrets.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Azure.Security.KeyVault.Certificates.dll
/csi.asp.net.core.api/bin/Debug/net6.0/appsettings.json
/csi.asp.net.core.api/bin/Debug/net6.0/appsettings.Development.json
/csi.asp.net.core.api/obj/Debug/net6.0/staticwebassets.build.json
/csi.asp.net.core.api/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.csi.asp.net.core.api.props
/csi.asp.net.core.api/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.csi.asp.net.core.api.props
/csi.asp.net.core.api/obj/Debug/net6.0/staticwebassets/msbuild.build.csi.asp.net.core.api.props
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.MvcApplicationPartsAssemblyInfo.cs
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.MvcApplicationPartsAssemblyInfo.cache
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.genruntimeconfig.cache
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.GeneratedMSBuildEditorConfig.editorconfig
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.csproj.CopyComplete
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.assets.cache
/csi.asp.net.core.model/bin/Debug/net6.0/csi.asp.net.core.model.runtimeconfig.json
/csi.asp.net.core.model/bin/Debug/net6.0/csi.asp.net.core.model.deps.json
/csi.asp.net.core.model/obj/project.nuget.cache
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.genruntimeconfig.cache
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.GeneratedMSBuildEditorConfig.editorconfig
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.csproj.FileListAbsolute.txt
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.csproj.CoreCompileInputs.cache
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.csproj.AssemblyReference.cache
/csi.asp.net.core.api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/csi.asp.net.core.data/obj/project.nuget.cache
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.genruntimeconfig.cache
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.GeneratedMSBuildEditorConfig.editorconfig
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.csproj.FileListAbsolute.txt
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.csproj.CopyComplete
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.assets.cache
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.runtimeconfig.json
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.deps.json
