################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/csi.asp.net.core.api/bin/
/.vs/csi.asp.net.core.api/v17/.suo
/csi.asp.net.core.api/bin/ 
/csi.asp.net.core.api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/csi.asp.net.core.api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/csi.asp.net.core.api/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.runtimeconfig.json
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.pdb
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.exe
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.dll
/csi.asp.net.core.api/bin/Debug/net6.0/csi.asp.net.core.api.deps.json
/csi.asp.net.core.api/bin/Debug/net6.0/Azure.Identity.dll
/csi.asp.net.core.api/obj/Debug/net6.0/ref/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/refint/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/apphost.exe
/csi.asp.net.core.model/obj/Debug/net6.0/csi.asp.net.core.model.assets.cache
/csi.asp.net.core.data/obj/Debug/net6.0/refint/csi.asp.net.core.data.dll
/csi.asp.net.core.data/obj/Debug/net6.0/ref/csi.asp.net.core.data.dll
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.pdb
/csi.asp.net.core.data/obj/Debug/net6.0/csi.asp.net.core.data.dll
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.pdb
/csi.asp.net.core.data/bin/Debug/net6.0/csi.asp.net.core.data.dll
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.pdb
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.dll
/csi.asp.net.core.api/obj/Debug/net6.0/csi.asp.net.core.api.csproj.AssemblyReference.cache
/.vs/csi.asp.net.core.api/DesignTimeBuild/.dtbcache.v2
/csi.asp.net.core.service/obj/Debug/net6.0
/csi.asp.net.core.service/obj
